<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>controller.filter.LoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <!--    <filter-mapping>
        <filter-name>LogFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>-->
    <!--    <filter-mapping>
        <filter-name>encoding-filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>-->
    <servlet>
        <servlet-name>AuthenticationController</servlet-name>
        <servlet-class>controller.AuthenticationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertIntoUserCart</servlet-name>
        <servlet-class>controller.entity.InsertIntoUserCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertController</servlet-name>
        <servlet-class>controller.entity.InsertInToUserCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getProduct</servlet-name>
        <servlet-class>controller.getProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getoneProduct</servlet-name>
        <servlet-class>controller.getoneProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>product_deleted</servlet-name>
        <servlet-class>controller.product_deleted</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkOut</servlet-name>
        <servlet-class>controller.checkOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertController</servlet-name>
        <servlet-class>controller.insert.insertController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertTempOrderController</servlet-name>
        <servlet-class>controller.insertTempOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertTempController</servlet-name>
        <servlet-class>controller.insert.insertTempController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>controller.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getOrderTemp</servlet-name>
        <servlet-class>controller.getOrderTemp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateOrderTemp</servlet-name>
        <servlet-class>controller.update.updateOrderTemp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignIn</servlet-name>
        <servlet-class>controller.SignIn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controller.auth.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ThongKe</servlet-name>
        <servlet-class>controller.ThongKe</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertProduct</servlet-name>
        <servlet-class>controller.insert.insertProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateProduct</servlet-name>
        <servlet-class>controller.update.updateProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>xupdateProduct</servlet-name>
        <servlet-class>controller.update.xupdateProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Hello</servlet-name>
        <servlet-class>controller.Hello</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AuthenticationController</servlet-name>
        <url-pattern>/AuthenticationController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertIntoUserCart</servlet-name>
        <url-pattern>/InsertIntoUserCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertController</servlet-name>
        <url-pattern>/insert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getProduct</servlet-name>
        <url-pattern>/getProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getoneProduct</servlet-name>
        <url-pattern>/getoneProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>product_deleted</servlet-name>
        <url-pattern>/product_deleted</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkOut</servlet-name>
        <url-pattern>/checkOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertController</servlet-name>
        <url-pattern>/insertController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertTempOrderController</servlet-name>
        <url-pattern>/insertTempOrderController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertTempController</servlet-name>
        <url-pattern>/insertTempController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getOrderTemp</servlet-name>
        <url-pattern>/getOrderTemp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateOrderTemp</servlet-name>
        <url-pattern>/updateOrderTemp</url-pattern>
    </servlet-mapping>
<!--    <filter>
        <filter-name>encoding-filter</filter-name>
        <filter-class>
            org.springframework.web.filter.CharacterEncodingFilter
        </filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>forceEncoding</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    <filter>
        <filter-name>LogFilter</filter-name>
        <filter-class>controller.filter.LogFilter</filter-class>
    </filter>
    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <page-encoding>UTF-8</page-encoding>
        </jsp-property-group>
    </jsp-config>-->
    <servlet-mapping>
        <servlet-name>SignIn</servlet-name>
        <url-pattern>/SignIn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ThongKe</servlet-name>
        <url-pattern>/statistical</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertProduct</servlet-name>
        <url-pattern>/insertProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateProduct</servlet-name>
        <url-pattern>/updateProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>xupdateProduct</servlet-name>
        <url-pattern>/xupdateProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Hello</servlet-name>
        <url-pattern>/Hello</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            86400
        </session-timeout>
    </session-config>
</web-app>
